body {
  text-align:center;
  background-color:AliceBlue;

}

a{
  float:left;
  display:block;
  color:red;
  text-align:center;
  padding:14px 16px;
  border-right:1px solid white;
  font-family:georgia;
}
a:hover{
  background-color:white;
  color:blue;

}
